

* {
	padding: 0;
	margin: 0;
	border:0;
	/*border: 1px solid black;*/
	}

#container {
	background-color: black;
	width: 970px;

	margin: 0px;
	padding: 0px;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;

}



#header {
	background-color: #FEFEFE;
	
	padding: 10px;
	width: 970px;
	height: 120px;
	display: block;
	vertical-align: top;
	border: .5px solid gray;

}


#header p{
	margin-left:500px;
	font-family: 'verdana' arial;
	font-size: 25px;
	font-style: 900;
	position: relative;
	bottom: 50px;
}
#header ul{
	width: 100%;
	background-color: #d9dfe5;
	list-style-type: none;
	position: relative;
	display: block;
	bottom: 35px;
}

#header ul li a{
	display: inline block;
	color: darkgray;

}

#header ul{
	padding: 7px 25px 7px 30px;
	position: relative;
	right: 10px;
}
#header ul li{
	display: inline;
	
}

#splashpage {
	width:100%;
	height: 350px;
	display: block;
	background-color: #3a3a3a;
	vertical-align: top;
}

#splashpage img{
	width:40%;
	height: 80%;
	margin: 20px 10px 20px 10px;
	vertical-align: top;
	display: inline-block;
	border: 3px solid white;
	
}



#intro{
	width: 50%;
	height: 90%;
	margin: 20px 10px 20px;
	background-color: #4E4E4E;
	vertical-align: top;
	display: inline-block;
	border: .5px solid gray;
	
}

#inintro{

	color:white;
	padding: 10px 20px 10px 20px;

}
#inintro h4 {
	font-family: 'verdana' arial;
	font-size: 14px
}
#inintro p{
	font-family: 'verdana' arial;
	font-size: 14px
}

.mellow{
	font-family: 'verdana' arial;
	background-color: yellow;
	border: .5px solid gray;

}
.stuff{
	width: 180px;
	background-color: white;
	margin: 20px;
	border: .5px solid gray;
	display: inline-block;
	vertical-align: top;
}

